# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~  

# Virtual Environment
env/
venv/
ENV/
VENV/
*.env

# Django Stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Migrations (optional – if you regenerate them)
**/migrations/*.py
**/migrations/*.pyc

# Secrets and config
.env
.env.* 
*.secret
